<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns = "http://www.springframework.org/schema/beans"
      xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
      xmlns:context = "http://www.springframework.org/schema/context"
      xsi:schemaLocation = "http://www.springframework.org/schema/beans
      http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
      http://www.springframework.org/schema/context
      http://www.springframework.org/schema/context/spring-context-3.0.xsd"
      >
     <bean id="wishBean" abstract="true" class="com.ccteam.beans.WishBean" init-method="customInit" destroy-method="customDestroy">
     <property name="message" value="Wish you good luck"/>
     <property name="name" value="Harshita"/>
     
     </bean>
     <bean id="helloBean" class="com.ccteam.beans.HelloBean" parent="wishBean">
     <property name="message" value="Hello Boss"/>
     
     </bean>
     <bean id="welcomeBean" class="com.ccteam.beans.WelcomeBean" parent="wishBean">
     
     <property name="name" value="Dhwani"/>
     
     </bean>
      
</beans>